<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <main
      style="
        background-color: #cccccc;
        display: flex;
        justify-content: center;
        padding: 20px;
      "
    >
      <section
        style="
          max-width: 600px;
          min-width: 500px;
          background-color: #ffffff;
          padding: 20px;
        "
      >
        <p>Hello {{ user_name }},</p>
        <p>Please enter that one-time password for verification to login</p>
        <h1>{{ otp }}</h1>
      </section>
    </main>
  </body>
</html>
